**/.vs
star-motor-controller/star-motor-controller/Debug
star-motor-controller/star-motor-controller/Release


**/.vscode
**/node_modules
**/__pycache__
socket-server/server_runtime
**/*.pyc

client/darksky-desktop-qt/desktop_runtime
client/darksky-desktop-kv/desktop_runtime

pi-motor-controller/build

socket-server-cpp/build