astropy==4.2.1
autopep8==1.5.7
bidict==0.21.2
coloredlogs==15.0
dnspython==1.16.0
eventlet==0.31.0
gpsd-py3==0.3.0
greenlet==1.1.0
humanfriendly==9.1
numpy==1.20.3
pycodestyle==2.7.0
pyerfa==2.0.0
pyrtlsdr==0.2.92
pyserial==3.5
python-engineio==4.2.0
python-socketio==5.3.0
six==1.16.0
toml==0.10.2
